package {{rootPackage}}.api.dto.{{module}};

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * {{apiDesc}}({{Entity}})分页查询 DTO。
 * <p>查询字段全部可选（不加 @NotBlank），按需筛选。
 *
 * @author wl-skills-bd codegen
 * @since 1.0.0
 */
@Getter
@Setter
@ToString
@Schema(description = "{{apiDesc}}分页查询DTO")
public class {{Entity}}PageDTO {

    {{#queryFields}}
    @Schema(description = "{{fieldComment}}")
    private {{fieldType}} {{field}};

    {{/queryFields}}
}
